{% extends 'general/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<main class="page login-page">

    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Log In</h2>
                <p>Welcome on the Code, Growth Alive official site. We're happy to see you here !</p>
            </div>
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input class="form-control" type="text" name="username" data-bs-theme="light">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" data-bs-theme="light">
                </div>
                {% if error %}
                <p class="text-danger">{{ error }}</p>
                {% endif %}
                <div class="mb3">
                    <button class="btn btn-primary" type="submit">Log In</button>
                </div>
                
            </form>
            <a href="{% url 'signup' %}" class="text-body-emphasis">Register if new here</a>
        </div>

    </section>

</main>

{% endblock %}