{% extends 'general/base.html' %}

{% load static %}

{% block title %}Articles{% endblock %}

{% block content %}


<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Our Blog</h2>
                <p>Our commitment extends beyond merely providing technological solutions; we are dedicated to nurturing individuals' minds through computer knowledge courses.</p>
            </div>
            <div class="block-content">
            {% for art in arts %}
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-5"><img class="rounded img-fluid" src="{{ art.picture.url }}"></div>
                        <div class="col-lg-7">
                            <h3>{{ art.title }}</h3>
                            <div class="info">
                                <span class="text-muted">{{ art.created_at | date:"jS F Y" }} by&nbsp;<a href="#">{{ art.author.username }}</a></span>
                            </div>
                            <p>{{ art.content|truncatechars:280 }}</p>
                            <button class="btn btn-outline-primary btn-sm" type="button">Read More</button>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </section>
</main>

{% endblock %}