{% extends 'general/base.html' %}

{% load static %}

{% block title %}{{ pers.username }}{% endblock %}

{% block content %}
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Personal Page</h2>
            </div>
            {% if user.is_authenticated == False %} 
            {% if user.username != pers.username %}
            <div class="row align-items-center flex-row">
                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img class="rounded-circle" style="height: 320px; width: 320px;" src="{{ pers.thumbnail.url }}">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3>{{ pers.username }}</h3>
                        <h6>{{ pers.email }}</h6>
                        <p class="text-success">{{ pers.position }}</p>
                        
                    </div>
                </div>
            </div>
            {% endif %}   
            {% endif %}
            <!--<div class="row align-items-center flex-row">
                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img class="rounded-circle" style="height: 320px; width: 320px;" src="{{ pers.thumbnail.url }}">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3>{{ pers.username }}</h3>
                        <h6>{{ pers.email }}</h6>
                        <p class="text-success">{{ pers.position }}</p>
                        {% if user.is_authenticated %}
                        {% if user.username == pers.username %}
                        <div class="row about-list">
                            <div class="col-md-6">
                                {% if user.role == 'CA' or 'Team' %}
                                <div class="media">
                                    <button class="btn btn-outline-primary btn-sm" type="button">Nouveau Post</button>
                                    <br><br>
                                </div>
                                {% endif %}
                                {% if user.role == 'Compt' %}
                                <div class="media">
                                    <button class="btn btn-outline-primary btn-sm" type="button">Faire un Rapport</button>
                                    <br><br>
                                </div>
                                {% endif %}
                                {% if user.role == 'CA' and 'Admin' %}
                                <div class="media">
                                    <button class="btn btn-outline-primary btn-sm" type="button">Voir les rapports</button>
                                    <br><br>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>E-mail</label>
                                    <p>info@domain.com</p>
                                </div>
                                <div class="media">
                                    <label>Phone</label>
                                    <p>820-885-3321</p>
                                </div>
                                <div class="media">
                                    <label>Skype</label>
                                    <p>skype.0404</p>
                                </div>
                                <div class="media">
                                    <label>Freelance</label>
                                    <p>Available</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if user.is_authenticated %} 
                        {% if user.username != pers.username %}
                        <div class="row about-list">
                            <div class="card">
                                <h2 class="card-head">
                                    Voila
                                </h2>
                            </div>
                        </div>
                        {% endif %}   
                        {% endif %}
                        {% if user.is_authenticated == False %} 
                        {% if user.username != pers.username %}
                        <div class="row about-list">
                            <div>
                                <h4 class="title">Title</h4>
                                <h6>Text descrption</h6>
                                <button class="btn btn-outline-primary btn-sm" type="button">Learn More</button>
                            </div>
                        </div>
                        {% endif %}   
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row align-items-center flex-row">
                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img class="rounded-circle" style="height: 320px; width: 320px;" src="{{ pers.thumbnail.url }}">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3>{{ pers.username }}</h3>
                        <h6>{{ pers.email }}</h6>
                        <p class="text-success">{{ pers.position }}</p>
                        {% if user.is_authenticated %}
                        {% if user.username == pers.username %}
                        <div class="row about-list">
                            <div class="col-md-6">
                                {% if user.role == 'CA' or 'Team' %}
                                <div class="media">
                                    <button class="btn btn-outline-primary btn-sm" type="button">Nouveau Post</button>
                                    <br><br>
                                </div>
                                {% endif %}
                                {% if user.role == 'Compt' %}
                                <div class="media">
                                    <button class="btn btn-outline-primary btn-sm" type="button">Faire un Rapport</button>
                                    <br><br>
                                </div>
                                {% endif %}
                                {% if user.role == 'CA' and 'Admin' %}
                                <div class="media">
                                    <button class="btn btn-outline-primary btn-sm" type="button">Voir les rapports</button>
                                    <br><br>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>E-mail</label>
                                    <p>info@domain.com</p>
                                </div>
                                <div class="media">
                                    <label>Phone</label>
                                    <p>820-885-3321</p>
                                </div>
                                <div class="media">
                                    <label>Skype</label>
                                    <p>skype.0404</p>
                                </div>
                                <div class="media">
                                    <label>Freelance</label>
                                    <p>Available</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if user.is_authenticated %} 
                        {% if user.username != pers.username %}
                        <div class="row about-list">
                            <div class="card">
                                <h2 class="card-head">
                                    Voila
                                </h2>
                            </div>
                        </div>
                        {% endif %}   
                        {% endif %}
                        {% if user.is_authenticated == False %} 
                        {% if user.username != pers.username %}
                        <div class="row about-list">
                            <div>
                                <h4 class="title">Title</h4>
                                <h6>Text descrption</h6>
                                <button class="btn btn-outline-primary btn-sm" type="button">Learn More</button>
                            </div>
                        </div>
                        {% endif %}   
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="counter">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                            <p class="m-0px font-w-600">Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                            <p class="m-0px font-w-600">Project Completed</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                            <p class="m-0px font-w-600">Photo Capture</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                            <p class="m-0px font-w-600">Telephonic Talk</p>
                        </div>
                    </div>
                </div>
            </div>-->
            {% for post in posts %}
            <div class="card text-start my-1">
              <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.content|truncatechars:150 }}</p>
              </div>
              <div>
                {% if user.is_authenticated and user.username == pers.username %}
                <a href="{% url 'article' post.id %}"><button class="btn btn-outline-primary btn-sm ms-3" type="button">Modify</button></a>
                <a href="{% url 'article' post.id %}"><button class="btn btn-outline-danger btn-sm ms-3" type='button'>Delete</button></a>
                {% endif %}
                <a href="{% url 'article' post.id %}"><button class="btn btn-outline-warning btn-sm ms-3" type="button">Read More</button></a>
            </div>
            </div>
            {% endfor %}
          </div>
    </section>
</main>
{% endblock %}