{% extends 'general/base.html' %}

{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Personal Page</h2>
                
            </div>
            <div style="display: flex;">
                {% if user.thumbnail %}
                <img style="height: 200px; width: 200px; border-radius: 100%;" src="{{user.thumbnail.url }}">
                {% endif %}
                <div class="row">
                    <br>
                    <h3>{{ user.firstname }} {{ user.username }}</h3>
                    <h2>{{ user.email }}</h2>
                    <p class="text-success">{{ user.position }}</p>
                </div>
            </div>
            <div class="row">
                {% for service in services %}
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="{{ service.illustration }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ service.title }}</h4>
                            <p class="card-text">{{ service.description }}</p>
                        </div>
                        <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">This part is already in maintenance ...</p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}