{% extends 'general/base.html' %}

{% load static %}

{% block title %}{{ pers.username }}{% endblock %}

{% block content %}
<main class="page service-page">
    <section class="clean-block clean-services dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Personal Page</h2>
            </div>
            <div style="display: flex; flex-wrap: wrap; flex-direction: row;">
                {% if pers.thumbnail %}
                <img style="height: 130px; width: 130px; border-radius: 100%;" src="{{ pers.thumbnail.url }}">
                <br>
                {% endif %}
                <div style="padding-left: 15px;">
                    <h3>{{ pers.lastname }} {{ pers.username }}</h3>
                    <p>{{ pers.email }}</p>
                    <p class="text-success">{{ pers.position }}</p>
                </div>
                {% if user.is_authenticated %}
                {% if user.username == pers.username %}
                <div style="padding-left: 35px;">
                    <br><br>
                    <button class="btn btn-outline-primary btn-sm" type="button">Nouveau Post</button>
                </div>
                {% endif %}
                {% if user.role == 'Compt' %}
                <div style="padding-left: 35px;">
                    <br><br>
                    <button class="btn btn-outline-primary btn-sm" type="button">Faire un Rapport</button>
                </div>
                {% endif %}
                {% if user.role == 'CA' %}
                <div style="padding-left: 35px;">
                    <br><br>
                    <button class="btn btn-outline-primary btn-sm" type="button">Voir les rapports</button>
                </div>
                {% endif %}
                {% endif %}
            </div>
            <br>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-6 col-lg-4">
                    <div class="card"><img class="card-img-top w-100 d-block" src="{{ post.picture.url }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                        </div>
                        <div>
                            <a href="{% url 'article' post.id %}"><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}