{% extends 'general/base.html' %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Nous contacter</h2>
                <p>Pour toute demande, clarification, correction ou réclamation, n’hésitez pas à nous contacter via le formulaire ci-dessous. Nous répondons dans l’heure.</p>
            </div>
            <form action="mailto:codega.info@gmail.com? cc=biringaninedestin2@gmail.com& subject=Website contact, Questions" method="post" enctype="text/plain">
                <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name" data-bs-theme="light"></div>
                <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control" type="email" id="email" name="email" data-bs-theme="light" required></div>
                <div class="mb-3"><label class="form-label" for="message">Message</label><textarea class="form-control" id="message" name="message" data-bs-theme="light" rows="4" required></textarea></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit">Send</button></div>
            </form>
        </div>
    </section>
</main>
{% endblock %}