{% extends 'general/base.html' %}

{% load static %}

{% block title %}Testimonial{% endblock %}

{% block content %}

<main class="page testimonials">
    <section class="clean-block clean-testimonials dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Ce que les gens disent</h2>
                <p>Nos clients sont nos meilleurs ambassadeurs. Découvrez ce qu'ils disent sur nos produits et laissez-vous convaincre par leurs témoignages inspirants.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <h3>John Smith</h3>
                            <h4 class="card-title">Founder of Something</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}