{% extends 'general/base.html' %}

{% load static %}

{% block title %}Testimonial{% endblock %}

{% block content %}

<main class="page testimonials">
    <section class="clean-block clean-testimonials dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Témoignages</h2>
                <p>Nos clients sont nos meilleurs ambassadeurs. Découvrez ce qu'ils disent sur nos produits et laissez-vous convaincre par leurs témoignages inspirants.</p>
            </div>
            <div class="row">
                {% for test in tests %}
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">{{ test.message }}</p>
                            {% if test.author_user %}
                            <h3>{{ test.author_user.username }}</h3>
                            {% else %}
                            <h3>{{ test.author }}</h3>
                            {% endif %}
                            <h4 class="card-title">{{ test.description }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}